<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pouleapp">

    <application
        android:name="com.example.pouleapp.data.GlobalData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cup_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.AuthUIActivity" />
        <activity android:name=".activities.SelectTournamentActivity"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name=".activities.TournamentActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activities.TournamentSettingsActivity" />
        <activity
            android:name=".activities.PouleActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activities.PouleSettingsActivity" />
        <activity android:name=".activities.EditTeamActivity" />
        <activity android:name=".activities.EditMatchActivity" />
        <activity
            android:name=".activities.SchemeRankingActivity"
            android:theme="@style/AppThemeNoActionBar" />

        <activity android:name=".activities.FollowTournamentActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppThemeNoActionBar"/>

        <activity android:name=".activities.FollowTournamentInfoActivity" />
        <activity android:name=".activities.FollowTournamentResultsActivity" />
        <activity android:name=".activities.FollowSchemeRankingActivity"
            android:theme="@style/AppThemeNoActionBar" />
    </application>

</manifest>